@import 'layout';

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Public+Sans:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

h1 {
    color: orange;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Public Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
     ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
  display: flex;
    height: 100vw;
    width: 100vw;
    overflow-y: hidden;
    scroll-behavior: smooth;

}


// -------- LAYOUT ---------

.sidenav{
    @include flex-row;
    z-index: 10;
    left: -35vw;
    position: absolute;
    width: 35vw;
    height: 100vh;
    border-right: 5px solid black;
    background-color: white;
}

.tab-button{
    background-color: white;
    position: relative;
    left: 100%;
    width: 10%;
    height: 18%;
    border: 5px solid black;
    top: 10%;
    border-radius: 0 10px 10px 0;

}

.main-container{
    @include flex-column;
    position: relative;
    height: 94vh;
    width: 95vw;
    border: 5px solid black;
    top: 3vh;
    left: 4vw;

}

.tabs-container{
    position: relative;
    height: 7%;
    width: 100%;
    border-bottom: 5px solid black;
    top: 0;
}

.content-container{
    @include flex-column;
    
    position: relative;
    height: 93%;
}

.project-info-container{
    position: relative;
    height: 50%;
}

.project-image{
    
}
.projects-container{
    @include flex-column;
    position: relative;
    border-top: 5px solid black;
    height: 50%;
    overflow: scroll;
}

.project-listing{
    @include flex-row;
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 15%;
   align-items: center;
   justify-content: space-between;
}

.project-info{
    margin: 2%;
}