@import 'layout';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&family=Public+Sans:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// SITE COLOURS
// BLACK & WHITE
$black: #121113;
$white: #F7F7F2;
// TABS
$all: #F4ACB7;
$marian: #FE5F55;
$max: #F17F29;
$christine: #FFF15C;
$david: #8DE2A9;
$sam: #5299D3;
$patricia: #AB5F8F;
$india: #3B293D;

// SETTING FONTS
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Public Sans', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

h1 {
    font-size: 56px;
    font-weight: 900;
}
h2 {
    font-size: 48px;
    font-weight: 900;
}
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
    font-size: 28px;
    font-weight: 700;
}
h5 {
    font-size: 24px;
    font-weight: 400;
}
h6 {
    font-size: 18px;
    font-weight: 400;
}
p {
    font-size: 16px;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
     ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
  display: flex;
    height: 100vw;
    width: 100vw;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


// -------- LAYOUT ---------

.sidenav{
    @include flex-row;
    z-index: 10;
    
    position: absolute;
    width: 35vw;
    height: 100vh;
    border-right: 2px solid black;
    background-color: white;
    transition: all 0.5s ease;
    
}

.sidenav.open{
    left: 0vw;
    transition: all 2s ease;
}
.sidenav.closed{
    left: -35vw;
    transition: all 2s ease;
}

.tab-button{
    @include center-items;
    text-transform: uppercase;
    font-family: 'Public Sans', sans-serif;
    background-color: white;
    position: relative;
   left: 29vw;
   width: 39%;
   height: 4%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid white;
    border-bottom: 2px solid black;
    transform: rotate(-90deg);
    cursor: pointer;

    



    top: 17%;
    border-radius: 0px 0px 10px 10px;

}

.main-container{
    @include flex-column;
    position: relative;
    height: 94vh;
    width: 95vw;
    // border: 5px solid black;
    top: 3vh;
    left: 4vw;

}

.tabs-container{
    @include flex-row;
    position: relative;
    height: 7%;
    width: 100%;
    // border-bottom: 5px solid black;
    top: 0;
}
.tab{
    
    @include center-items;
    
    border-radius: 10px 10px 0 0;
    position: relative;
    width: 12.5%;
    border: 2px 2px 2px 2px;
    border-color: black;
    transition: all 0.5s ease;
    border-style: solid;
    height: 90%;
    top: 10%;

    cursor: pointer;


    font-size: 0.8rem;

    text-transform: uppercase;
    font-family: 'Public Sans', sans-serif;
}
.tab.active{
    
    border-bottom: 2px solid white;
    transition: all 0.5s ease;
    
}




=======
.tab:hover{
    cursor: pointer;
}

.content-container{
    @include flex-column;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    height: 93%;
}

// ------- PROJECT VIEW CONTAINER/ TOP HALF OF SCREEN -----------

.project-info-container{
    @include flex-row;
    position: relative;
    height: 60%;
}
//  LEFT SIDE STYLING
.side1{
    @include flex-column;
    position: relative;
    width: 50%;
    // border: 2px solid black;
}



.project-title{
    position: relative;
    text-transform: uppercase;
 
    top: 10%;
    left: 20%;
}

.project-image{
    position: absolute;
    bottom: 5%;
    left:5%;
    width: 70%;
    height: 70%;
    align-items: end;
    // border: 2px solid black;
    

}
img{
    position: relative;
    height: 100%
}

// RIGHT SIDE STYLING
.side2{
    @include flex-column;
    position: relative;
    width: 50%;
    align-items: end;

}

.project-author{
    text-transform: uppercase;
    position: relative;
    top: 10%;
    right: 5%;

}
.project-description{
    position: relative;
    top: 15%;
    right: 5%;
    width: 80%;
    text-align: right;

}
.links-container{
    position: absolute;
    @include flex-row;
    align-items: center;
    justify-content: space-between;

    bottom: 5%;
    width: 60%;
    right: 5%;
    height: 15%;
    font-size: 45px;

}





// --------- PROJECT LIST CONTAINER/BOTTOM HALF OF THE SCREEN -----------

.projects-container{
    @include flex-column;
    position: relative;
    border-top: 2px solid black;
   
    height: 40%;
    overflow: scroll;
}

.project-listing{
    @include flex-row;
    position: relative;
    text-transform: uppercase;
    border-top: 2px solid black;
    // border-bottom: 2px solid black;
    width: 100%;
    height: 15%;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
}
.project-listing.author{
    text-transform: none;
}

.project-info{
    margin: 2%;
}

.student-name {
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.background-blur{
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.52);
 
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.52);
 
    
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    transition: all 5s ease;

    
}

.hidden{
    visibility: hidden;
    transition: all 2s ease;
}
=======
// STUDENT TAB COLOURS
.all-border {border-color: $all;}
.marian-border {border-color: $marian;}
.max-border {border-color: $max;}
.christine-border {border-color: $christine;}
.david-border {border-color: $david;}
.sam-border {border-color: $sam;}
.india-border {border-color: $india;}
.patricia-border {border-color: $patricia;}

