@import 'layout';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&family=Public+Sans:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// SITE COLOURS
// BLACK & WHITE
$black: #121113;
$white: #F7F7F2;
$borderBlack:rgba(12, 11, 13, 0.75);
// TABS
$all: #F4ACB7;
$marian: #FE5F55;
$max: #F17F29;
$christine: #FFF15C;
$david: #8DE2A9;
$sam: #5299D3;
$patricia: #AB5F8F;
$india: #3B293D;

// SETTING FONTS
h1, h2, h3, h4, h5, h6, p, input, .site-title{
    font-family: 'Public Sans', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

h1 {
    font-size: 56px;
    font-weight: 900;
}
h2 {
    font-size: 48px;
    font-weight: 900;
}
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
    font-size: 28px;
    font-weight: 700;
}
h5 {
    font-size: 24px;
    font-weight: 400;
}
h6 {
    font-size: 16px;
    font-weight: 400;
}
p {
    font-size: 16px;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
     ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}



.after-loading-page{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    scroll-behavior: smooth;
    background-color: $white;

}



// -------- LOADING PAGE ----------

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
  }

// -------- End of LOADING PAGE ----------


// -------- LAYOUT ---------
.title-container{
    position: fixed;
    transform: rotate(-90deg);
  
    bottom: 15%;
}


.sidenav{
    @include flex-row;
    @include center-items;
    z-index: 10;
    left: -35vw;
    position: absolute;
    
    height: 100vh;
    border-right: 1px solid $borderBlack;
    background-color: $white;
    transition: all 0.5s ease;
    
}




// ----------- LOGIN form styling

.login-form{
    @include flex-column;
    @include center-items;
    // border: 2px solid $black;
    // width: 80%;
    height: 80%;
}

input {
    background-color: $white;
    width: 20vw;
    border: none;
    border-bottom: 2px solid $black;
    margin-bottom: 20px;
    height: 5vh;
    font-size: 1rem;
    text-indent: 10%;
    // padding-left: 25%;
}

input::placeholder {
    color: $black;
    // padding-left: 5%;
    font-size: 1rem;
}
input:focus {
    color: $black;
    border-bottom: 2px solid $black;
    outline:none;
}

#inputUserDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    height: 5vh;
    margin-top: -10px;
    background-color: $black;
    color: $white;
    border: none;
    width: 155.5px;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.login-button:hover {
    margin-top: -10px;
    background-color: $white;
    color: $black;
    border: 2px solid $black;
    width: 155.5px;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-details-container{
    position: relative;
    @include flex-column;
    align-items: center;
    top: -10vh;
    
   
    height: 80%;
    
}
#addProject{
    position: absolute;
    top: 50vh;
    // left: 60%;

}
.top-container{
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 20vh;
    margin-bottom: 5%;
    margin-top: 10%;

}
.user-image{
    
   background-size: cover;
    width: 30%;
    height: 80%;
    margin: 3%;

   

}
.user-name{
    display: flex;
    justify-content: baseline;
    align-items: last baseline;
    
    width: 60%;
    height: 80%;
    margin: 5%;
    


}


 
.social-media {
    display: flex;
 }
 
.social-media-sites {
    display: flex;
    margin: auto;
}

.social-media-button {
    font-size: 50px;
    display: inline;
    padding: 0 .75rem 0 .75rem;
}

// ----------- End of LOGIN form styling


// 
.input-Project-details {
    text-align: center;
}


.sidenav.open{
    left: 0vw;
    transition: all 2s ease;
}
.sidenav.closed{
    left: -35vw;
    // transition: all 2s ease;
}

.tab-button{
    @include center-items;
    text-transform: uppercase;
    font-family: 'Public Sans', sans-serif;
    background-color: $white;
    position: absolute;

    width: 39%;
    height: 4%;



    border-right: 1px solid $borderBlack;
    border-left: 1px solid $borderBlack;
    border-top: 2px solid $white;
    border-bottom: 1px solid $borderBlack;
    transform: rotate(-90deg);
    cursor: pointer;
    top: 17%;
    border-radius: 0px 0px 10px 10px;

}

.tab-center {
    text-align: center;
}
.tab.active{
    border-bottom: 2px solid $white;
}

.main-container{
    @include flex-column;
    position: relative;
    height: 98vh;
    width: 95vw;
    // border: 5px solid black;
    top: 3vh;
    left: 4vw;

}

.tabs-container{
    @include flex-row;
    position: relative;
    height: 7%;
    width: 100%;
    // border-bottom: 5px solid black;
    top: 0;
}

.responsive-tabs-container{
    @include flex-row;
    width: 100%;
    height: 7%;
   
}
.tab{
    
    @include center-items;
    
    border-radius: 10px 10px 0 0;
    position: relative;
    width: 12.5%;
    border: 1px solid $black;
    
    transition: all 0.5s ease;
    
    height: 90%;
    top: 10%;

    cursor: pointer;


    font-size: 0.8rem;
    font-weight: 500;

    text-transform: uppercase;
    font-family: 'Public Sans', sans-serif;
}
.responsive-tab{
    position: relative;
    @include center-items;
    
    border-radius: 10px 10px 0 0;
    position: relative;
    border: 1px solid $black;

    font-weight: 700;



    transition: all 0.5s ease;
    
    // height: 90%;
    top: 10%;

    cursor: pointer;

    text-transform: uppercase;
    font-family: 'Public Sans', sans-serif;
}
.responsive-tab.left{
   border-bottom: 2px solid $white;
    width: 60%;
}

.responsive-tab.right{
   font-size: 26px;
    width: 40%;
    
   
}
.dropdown-container{
    
    position: absolute;
    @include flex-column;
    height: fit-content;
    top: 7%;
    right: 0;
    width:  40%;
    border-radius: 10px 10px 0 0;
}
.dropdown-tab{
    z-index: 10;
    @include center-items;
    position: relative;
    width: 100%;
    height: 8vh;
    
    border: 1px solid black;
    cursor: pointer;

    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Public Sans', sans-serif;
    background-color: #F7F7F2;
}
.dropdown-tab:hover{
    background-color: #121113;
    color: #F7F7F2;
}


.tab:hover{
    cursor: pointer;
}




.content-container{
    @include flex-column;
    border-left: 1px solid $borderBlack;
    border-right: 1px solid $borderBlack;
    border-bottom: 1px solid $borderBlack;
    position: relative;
    height: 93%;
}

// ------- PROJECT VIEW CONTAINER/ TOP HALF OF SCREEN -----------

.project-info-container{
    @include flex-row;
    position: relative;
    height: 60%;
}
//  LEFT SIDE STYLING
.side1{
    @include flex-column;
    position: relative;
    width: 50%;
    // border: 2px solid black;
}



.project-title{
    position: relative;
    text-transform: uppercase;
 
    top: 10%;
    left: 20%;
}

.project-image{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 5%;
    left:5%;
    width: 70%;
    height: 75%;
    align-items: end;
    // border: 2px solid black;
    

}


// RIGHT SIDE STYLING
.side2{
    @include flex-column;
    position: relative;
    width: 50%;
    align-items: end;

}

.project-author{
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    // text-transform: uppercase:
    position: relative;
    top: 10%;
    right: 5%;

}
.project-description{
    position: relative;
    top: 15%;
    right: 5%;
    width: 80%;
    text-align: right;

}
.links-container{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;


    bottom: 5%;
    width: 80%;
    right: 5%;
    height: 15%;
    font-size: 45px;

}

.link{
    padding-right: 5%;
    padding-left: 5%;
    color: $black;
}




// --------- PROJECT LIST CONTAINER/BOTTOM HALF OF THE SCREEN -----------

.projects-container{
    @include flex-column;
    position: relative;
    border-top: 1px solid $borderBlack;
   
    height: 40%;
    overflow: scroll;
}
.name-container{
    @include flex-row;
    position: relative;
    width: 40%;
}

.project-listing{
    @include flex-row;
    position: relative;
    // text-transform: uppercase;
    border-top: 1px solid $borderBlack;
    // border-bottom: 2px solid black;
    width: 100%;
    height: 12%;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
}
.project-listing.author{
    text-align: right;

}

.project-info{
    margin: 2%;
}

.project-info.title:hover{
    text-decoration: underline;
    
}

// .student-name {
//     font-family: 'Playfair Display', serif;
    
//     font-weight: 900;
// }

.background-blur{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.52);
 
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.52);
 
    
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    transition: all 1s ease;

    
}

.hidden{
    visibility: hidden;
    transition: all 1s ease;
}

.hiddenMenu{
    visibility: hidden;
   
}

a {
    color: $black;

    &:link {
        color: $black;
        text-decoration: none;
    }

    :visited {
        color: $black;
        text-decoration: none;
    }

    :hover {
        color: $black;
        text-decoration: none;
    }

    :active {
        color: $black;
        text-decoration: none;
    }


}
// STUDENT TAB COLOURS
.all-border {border-bottom: 3px solid $all;}
.marian-border {border-bottom: 2px solid $marian;}
.max-border {border-bottom: 2px solid $max;}
.christine-border {border-bottom: 2px solid $christine;}
.david-border {border-bottom: 2px solid $david;}
.sam-border {border-bottom: 2px solid $sam;}
.india-border {border-bottom: 2px solid $india;}
.patricia-border {border-bottom: 2px solid $patricia;}

// STUDENT BACKGROUND COLOURS
.all-background {background-color: $all; border-bottom: 2px solid $all;}
.marian-background {background-color: $marian; color: $white; border-bottom: 2px solid $marian;}
.max-background {background-color: $max; color: $white; border-bottom: 2px solid $max;}
.christine-background {background-color: $christine; border-bottom: 2px solid $christine;}
.david-background {background-color: $david; color: $white; border-bottom: 2px solid $david;}
.sam-background {background-color: $sam; color: $white; border-bottom: 2px solid $sam;}
.india-background {background-color: $india; color: $white; border-bottom: 2px solid $india;}
.patricia-background {background-color: $patricia; color: $white; border-bottom: 2px solid $patricia;}

/* ------ RESPONSIVENESS ------  */
/* PHONE */
@media screen and (min-width: 320px) {
    .responsive-tabs-container{
        display: flex;
    }
    .tabs-container{
        display: none;
    }
    .project-listing{
        height: fit-content;
    }
    .tab-button{
        width: 45%;
        height: 5%;
        left: 73vw;
    }
    .sidenav{
        width: 90vw;
      
    }
    .sidenav.closed{
        left: -90vw;
        // transition: all 2s ease;
    }
    input{
        width: 70vw
    }

    .title-container{
        left: -8.5vw;
    }

    .site-title{
        font-size: 40px;
        font-weight: 900;
      
    }
    

}

/* TABLET */
@media screen and (min-width: 768px) {
    .responsive-tabs-container{
        display: none;
    }
    .tabs-container{
        display: flex;
    }
    .tab-button{
        width: 39%;
        height: 4%;
        left: 29vw;
    }
    .sidenav{
        width: 35vw;
    }
    .project-listing{
        height: 12%;
    }
    .sidenav.closed{
        left: -35vw;
        // transition: all 2s ease;
    }
    input{
        width: 28vw;
    }
    .title-container{
        left: -6vw;
    }

    .tab{
        font-size: .6rem;
    }
   

}

/* LAPTOP */
@media screen and (min-width: 1024px) {
    .tab{
        font-size: .8rem;
    }

}
